*{
    font-family: 'Lato';
    color: #fff;
}

body{
    margin: 0;
    background-color: #EAD2AC;
    user-select: none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5 ,75px);
    background-color: #DF928E;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 12px 8px 0px 5px #00000033;
}

button{
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 25px;
    font-size: 1.5em;
    border: none;
    background-color: #DF928E;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #f3b1ad35;
}

button:active{
    background-color: #c78480;
    box-shadow: inset 3px 3px 7px #00000025;
}

button:hover{
    background-color: #e7a19e
}

.col-2{
    grid-column: span 2;
}

.display{
    position: relative;
    background-color: #151515;
    border-radius: 25px;
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 7px #00000030;
}

#valor-actual{
    font-size: 1.5em;
}

#valor-anterior{
    font-size: 2em;
}